.card {
  background-color: white;
  width: 10vw;
  padding: 1vw;
  margin: 0 auto;
  border-radius: 0.5vw;
}

.selected {
  background-color: rgb(216, 217, 238) !important;
}

.card-images {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.card-images img {
  width: 4vw;
  height: auto;
  display: block;
  transform: rotate(90deg);
  margin: -0.3vw;
}
