<app-game-buttons
  (ShowTopList)="showToplist()"
  (GiveHint)="hasSet(true)"
  (ShuffleCardsTable)="shuffleDealtCards()"
  (AddCards)="dealThreeCards()"
></app-game-buttons>
<div class="card-container">
  <div>
    <div class="sub-header">
      <span>Find all trios in the deck</span>
      <span>{{ GameType == "random" ? "Id: " + GameId : Today }}</span>
    </div>
    @if (RenderGrid) {
    <app-cards-grid
      id="cards-grid"
      [Cards]="DealtCards"
      [UniqueIds]="true"
      (Selected)="cardSelected($event)"
      (UnSelected)="cardUnSelected($event)"
    />
    }
  </div>
  <div class="founds-container">
    <p>Found trios: {{ FoundSets }}</p>
    <p>Remaining cards: {{ Deck.Cards.length }}</p>
  </div>
</div>

<div class="usertime">
  <a href="#" (click)="changeUserName()" class="user">{{ UserName }}</a>
  <div class="time">{{ Time }}</div>
</div>

<app-dialog
  [Visible]="showDialog"
  [Message]="dialogMessage"
  (click)="showDialog = false"
  (PlayAgain)="restart()"
></app-dialog>

@if(ShowToplist){
<app-top-list
  [Date]="Today"
  [GameName]="GameName"
  (onClose)="ShowToplist = false"
/>
}

<canvas id="confetti-canvas" class="confetti"></canvas>
