.app-container {
  padding: 1em;
}

.buttons {
  display: flex;
  gap: 2vw;
  padding-bottom: 2vh;
}

.text {
  font-size: 1.5em;
}

.tabel {
  float: left;
}

.founds-container {
  .found-count {
    display: block;
    text-align: center;
  }
  app-card {
    margin-right: 5px;
  }
  font-size: x-large;
  margin-left: 1em;
  float: left;
  scale: 0.6;
  transform-origin: top left;
}

.founds-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3vw;
  padding: 0.3vw;
  animation: ripple 180ms ease-out;
}
@keyframes ripple {
  from {
    filter: brightness(0.98);
    transform: scale(0.998);
  }
  to {
    filter: brightness(1);
    transform: scale(1);
  }
}
.confetti {
  position: fixed;
  pointer-events: none;
  inset: 0;
}

.usertime {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.user {
}

.time {
  font-size: 1.5em;
}

.toplist {
  font-size: 0.85rem;
  flex-direction: column;

  .name {
    margin-right: 0.5rem;
  }
  td {
    text-align: left;
  }
}
