<app-game-buttons
  (ShowTopList)="showToplist()"
  (GiveHint)="giveHint()"
  (ShuffleCardsTable)="shuffleDealtCards()"
></app-game-buttons>
<div class="card-container">
  <div>
    <div class="sub-header">
      <span>Find the {{ SetCount }} sets</span>
      <span>{{ GameType == "random" ? "Id: " + GameId : Today }}</span>
    </div>
    @if (RenderGrid) {
    <app-cards-grid
      id="cards-grid"
      [Cards]="DealtCards"
      [UniqueIds]="true"
      (Selected)="cardSelected($event)"
      (UnSelected)="cardUnSelected($event)"
    />
    }
  </div>
  <div class="founds-container">
    <div class="found-count">Found {{ Found.length }}</div>
    <app-cards-grid [Cards]="Found.flat()" />
  </div>
</div>
<div class="usertime">
  <a href="#" (click)="changeUserName()" class="user">{{ UserName }}</a>
  <div class="time">{{ Time }}</div>
</div>

<app-dialog
  [Visible]="showDialog"
  [Message]="dialogMessage"
  (click)="showDialog = false"
></app-dialog>

@if(ShowToplist){
  <app-top-list [Date]="Today" (onClose)="ShowToplist = false" />
}

<canvas id="confetti-canvas" class="confetti"></canvas>
