<div class="app-container">
  <div class="buttons">
    <button class="poker-btn" (click)="navigateToDaily()">
      Daily
      <img class="icon" src="icons/new-daily.svg" alt="" />
    </button>
    <button class="poker-btn" (click)="navigateToRandom()">
      Random
      <img class="icon" src="icons/random.svg" alt="" />
    </button>
    <button class="poker-btn" (click)="shuffleCardsTable()">
      Shuffle
      <img class="icon" src="icons/shuffle.svg" alt="" height="20px" />
    </button>
    <button class="poker-btn" (click)="giveHint()">
      Hint
      <img class="icon" src="icons/hint.svg" alt="" height="20px" />
    </button>
    <button class="poker-btn" (click)="showToplist()">
      Toplist
      <img class="icon" src="icons/toplist.svg" alt="" />
    </button>
  </div>
  <div class="card-container">
    <div class="tabel">
      <div class="sub-header">
        <span>Find the {{ SetCount }} sets</span>
        <span>{{ GameType == "random" ? "Id: " + GameId : Today }}</span>
      </div>
      <div *ngIf="RenderGrid" class="grid" @list>
        <app-card
          *ngFor="let card of Tabel"
          [CardInfo]="card"
          (CardSelected)="cardSelected($event)"
          (CardUnSelected)="cardUnSelected($event)"
          [attr.id]="card.Id"
        >
        </app-card>
      </div>
    </div>
    <div class="founds-container">
      <div class="found-count">Found {{ Found.length }}</div>
      <div class="grid">
        @for (cards of Found; track $index) { @for (card of cards; track
        card.Id) {
        <app-card [CardInfo]="card" [Found]="true" />
        } }
      </div>
    </div>
  </div>
  <div class="usertime">
    <a href="#" (click)="changeUserName()" class="user">{{ UserName }}</a>
    <div class="time">{{ Time }}</div>
  </div>
</div>

<app-dialog
  [Visible]="showDialog"
  [Message]="dialogMessage"
  (click)="showDialog = false"
></app-dialog>

<app-dialog
  [Visible]="ShowToplist"
  [Message]="''"
  (click)="ShowToplist = false"
>
  <table>
    @if(Toplist.length == 0){
    <td>No results today yet.</td>
    } @for (item of Toplist; track $index) {
    <tr>
      <td>{{ $index + 1 }}.</td>
      <td class="name">{{ item.user }}</td>
      <td>{{ formatTime(item.time) }}</td>
    </tr>
    }
  </table>
</app-dialog>

<canvas id="confetti-canvas" class="confetti"></canvas>
