

.card-container {
  display: flex;
  @media (orientation: landscape) {
    flex-direction: row;
  }
  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.table {
  @media (orientation: landscape) {
    max-width: 50vw;
  }
  @media (orientation: portrait) {
  }
}


.founds-container {
  @media (orientation: portrait) {
    margin-top: 10px;
    margin-left: 0;
  }

  .found-count {
    display: block;
    text-align: left;
  }
  app-card {
    margin-right: 5px;
  }
  font-size: x-large;
  margin-left: 1em;
  scale: 0.6;
  transform-origin: top left;
}

.founds-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.confetti {
  position: fixed;
  pointer-events: none;
  inset: 0;
}

.usertime {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.time {
  font-size: 1.5em;
}

.toplist {
  font-size: 0.85rem;
  flex-direction: column;

  .name {
    margin-right: 0.5rem;
  }
  td {
    text-align: left;
  }
}
