.app-container {
}

.text {
  font-size: 22px;
}

.tabel {
  float: left;
}

.founds-container {
  margin-top: 20px;
  float: left;
  scale: 0.5;
  transform-origin: top left;
}

.founds-row {
  display: flex;
  justify-content: flex-start;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: #ccc;
  padding: 5px;
}
