<div class="app-container">
  <div class="tabel">
    <div class="sub-header">
      <span>Find the {{ SetCount }} sets</span>
      <span>{{Today}}</span>
      <span>{{ Time }}</span>
    </div>
    <div class="grid">
      <app-card
        *ngFor="let card of Tabel"
        [CardInfo]="card"
        (CardSelected)="cardSelected($event)"
        (CardUnSelected)="cardUnSelected($event)"
      >
      </app-card>
    </div>
  </div>
  <div class="founds-container">
    <div class="founds-row" *ngFor="let cards of Found">
      <app-card *ngFor="let card of cards" [CardInfo]="card"> </app-card>
    </div>
  </div>
</div>
<app-dialog
  [Visible]="showDialog"
  [Message]="dialogMessage"
  (click)="showDialog = false"
></app-dialog>
