.app-container {
}

.text {
  font-size: 1.5em;
}

.tabel {
  float: left;
}

.founds-container {
  margin-top: 1em;
  float: left;
  scale: 0.6;
  transform-origin: top left;
}

.founds-row {
  display: flex;
  justify-content: flex-start;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3vw;
  background-color: #ccc;
  padding: 1vw;
}
