<div class="app-container">
  <div class="buttons">
    <button (click)="startDaily()">Daily</button>
    <button (click)="startRandom()">Random</button>
    <button (click)="shuffleTable()">Shuffle</button>
    <button (click)="giveHint()">Hint</button>
    <button (click)="ShowToplist = !ShowToplist">Toplist</button>
  </div>

  <div class="tabel">
    <div class="sub-header">
      <span>Find the {{ SetCount }} sets</span>
      <span>{{ Today }}</span>
    </div>
    <div class="grid">
      <app-card
        *ngFor="let card of Tabel"
        [CardInfo]="card"
        (CardSelected)="cardSelected($event)"
        (CardUnSelected)="cardUnSelected($event)"
      >
      </app-card>
    </div>
  </div>
  <div class="founds-container">
    <div class="founds-row" *ngFor="let cards of Found">
      <app-card *ngFor="let card of cards" [CardInfo]="card"> </app-card>
    </div>
  </div>
</div>
<div class="usertime">
  <div class="user">{{ UserName }}</div>
  <div class="time">{{ Time }}</div>
</div>

<app-dialog
  [Visible]="showDialog"
  [Message]="dialogMessage"
  (click)="showDialog = false"
></app-dialog>

@if(ShowToplist){
<div (click)="ShowToplist = false" class="center-screen">
  <div class="toplist dialog">
    @for (item of Toplist; track $index) {
    <div>
      <span class="name">{{ item.user }}</span>
      <span>{{ formatTime(item.time) }}</span>
    </div>
    }
  </div>
</div>
}
