body {
  font-family: Arial, Helvetica, sans-serif;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  border-radius: 8px;
  background-color: rgb(255, 254, 237);
  border: 1px solid #5f673b;
  font-size: 2em;
  opacity: 0.9;
}

.center-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  min-width: 90vw;
  max-height: 90vh;
  max-width: 90vw;
}

* {
  user-select: none;
}
